:root {
  --color-initial: #D3D6DA;
  --color-absent: #787c7e;
  --color-present: #c9b458;
  --color-correct: #6aaa64;

  --black: #000;
  --white: #fff;

  --background-color: #FFFFFF;

  --tile-empty-border-color: var(--color-initial);
  --tile-absent-color: var(--color-absent);
  --tile-present-color: var(--color-present);

  --key-background-color: var(--color-initial);
  --key-text-color: var(--black);
  --key-evaluated-text-color: var(--white);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--background-color);
}

.game {
  width: 500px;
  height: 560px;
  margin: 0 auto;
  padding-top: 49px;

  display: flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 300px;
  height: 360px;
  padding: 10px;
  box-sizing: border-box;

  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(6, 1fr);
}

.board-row {
  margin: 0;
  padding: 0;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
}

.tile {
  border: 2px solid var(--tile-empty-border-color);

  display: inline-flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

.entered {
  border: 2px solid var(--black);
  color: var(--black);
}

.keyboard {
  height: 200px;
  margin: 0 8px;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

.key, .half-key, .one-and-a-half-key {
  background-color: var(--key-background-color);
  color: var(--key-text-color);

  font-size: 1.25em;
  font-weight: bold;

  height: 58px;
  border: 0;
  border-radius: 4px;
  padding: 0;
  margin: 0 6px 0 0;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.keyboard-row:last-child {
  margin: 0;
}

.half-key {
  flex: 0.5;
  margin: 0;

  background-color: var(--background-color);
}

.one-and-a-half-key {
  font-size: 12px;

  flex: 1.5;
}