:root {
  --color-initial: #D3D6DA;
  --color-absent: #787c7e;
  --color-present: #c9b458;
  --color-correct: #6aaa64;

  --black: #000;
  --white: #fff;

  --background-color: #FFFFFF;

  --tile-empty-border-color: var(--color-initial);
  --tile-absent-color: var(--color-absent);
  --tile-present-color: var(--color-present);

  --key-background-color: var(--color-initial);
  --key-text-color: var(--black);
  --key-evaluated-text-color: var(--white);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--background-color);
}

.game {
  width: 500px;
  height: 560px;
  margin: 0 auto;
  padding-top: 49px;

  display: flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial {
  border: 2px solid var(--tile-empty-border-color);
}

.tbd {
  border: 2px solid var(--black);
  color: var(--black);
}

.absent {
  border: 2px solid var(--color-absent);
  color: var(--white);
  background-color: var(--color-absent);
}

.present {
  border: 2px solid var(--color-present);
  color: var(--white);
  background-color: var(--color-present);
}

.correct {
  border: 2px solid var(--color-present);
  color: var(--white);
  background-color: var(--color-present);
}