:root {
  --tile-empty-color: #FFFFFF;
  --tile-empty-border-color: #D3D6DA;
  --key-color: #D3D6DA;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.game {
  width: 500px;
  height: 560px;
  margin: 0 auto;
  padding-top: 49px;

  display: flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 300px;
  height: 360px;
  padding: 10px;
  box-sizing: border-box;

  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(6, 1fr);
}

.board-row {
  margin: 0;
  padding: 0;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
}

.tile {
  background-color: var(--tile-empty-color);
  border: 2px solid var(--tile-empty-border-color);

  display: inline-flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}